.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img,
.card {
  width: 40%;
}

.card h4 {
  color: gray;
  font-size: 20px;
}
.card h1 {
  font-family: sans-serif;
  font-size: 40px;
}
.image img {
  width: 380px;
}
.card p {
  margin-top: 10px;
  font-size: 20px;
  color: gray;
  width: 50%;
  line-height: 1.7;
}
.container .card span {
  color: hsl(158, 36%, 37%);
  font-size: 40px;
  font-weight: bold;
  margin-right: 25px;
}
.container .card slot {
  color: rgb(128, 128, 128);
  font-size: 20px;
}
.container .card button {
  display: block;
  padding: 20px 80px;
  background-color: hsl(158, 36%, 37%);

  border-radius: 10px;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
